.container{
    background-color: rgb(193, 191, 191);
}

.content{
    border: 2px solid rgb(11, 180, 180);
    margin: 20px;
    padding: 20px;
}

.content2{
    margin: 20px;
    padding: 20px;
}

.nav{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.ser{
    display: flex;
}

.text {
    width: 170px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
 }

 button{
    width: 7%;
 }